body {
  background-color: transparent;
  color: #eee;
  text-align: center;
  padding: 15px;
  font-family: sans-serif;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  position: relative;
  background: #253240;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
}

.padding {
  padding: 45px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  position: relative;
}

.form {
  display: flex;
  border: 3px solid #f3f3f3;
  background: #f3f3f3;
  border-radius: 3px;
  margin-bottom: 45px;
}

.form > input {
  flex: 1;
  border: none;
  font-size: 16px;
  color: #333;
  background: #f3f3f3;
}

.form > select {
  border: none;
  outline: none;
  background: #f3f3f3;
  padding: 0 5px;
  font-size: 16px;
  color: #888;
  margin-right: 5px;
}

.form > button {
  background: #ed6a5a;
  border: none;
  color: #eee;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.form > button:disabled {
  filter: grayscale(50%);
  cursor: progress;
}

.form > button img {
  filter: invert(1);
  margin-right: 5px;
  height: 18px;
  width: 18px;
}

.form > input,
.form > button {
  padding: 20px;
  outline: none;
}

.display {
  font-size: 14px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.downloads {
  margin-top: 25px;
  overflow-y: scroll;
  padding-right: 15px;
}

/* width */
.downloads::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.downloads::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.03);
}

/* Handle */
.downloads::-webkit-scrollbar-thumb {
  background: #1d2833;
}

.no-downloads {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.45;
  flex: 1;
}

.downloads-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloads-header h1 {
  font-size: 15px;
}

.downloads-header button {
  border: 0;
  background: 0;
  color: #999;
  outline: none;
}

.download-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
}

.download-item:nth-child(odd) {
  background: rgba(255, 255, 255, 0.03);
}

.download-title-wrapper {
  display: flex;
  align-items: center;
  width: 60%;
}

.download-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.format-tag {
  background: #1d2833;
  padding: 3px 5px;
  border: 1px solid #0e131a;
  border-radius: 50px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
  opacity: 0.5;
}
