body {
  background-color: transparent;
  color: #eee;
  text-align: center;
  padding: 15px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  position: relative;
  background: #253240;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.padding {
  padding: 30px 45px 45px;
}

.form {
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.form > input {
  flex: 1;
  border: none;
  font-size: 16px;
  color: #333;
  border-radius: 3px 0 0 3px;
  background: #f3f3f3;
}

.form > button {
  background: #ee5253;
  border: none;
  color: #eee;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0 3px 3px 0;
}

.form > button:disabled {
  filter: grayscale(50%);
  cursor: not-allowed;
}

.form > input,
.form > button {
  padding: 20px;
  outline: none;
}

.display {
  padding: 3px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.025);
  margin-bottom: 25px;
  border-radius: 3px;
}

.display > p {
  padding: 5px;
  position: relative;
  color: rgba(255, 255, 255, 0.35);
}

.progress-bar-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #19222a;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  background: #ee5253;
  transition: width 0.5s;
}
